/*
* === OVERAL ===
*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

a:hover {
  text-decoration: none;
}

button.custom-button {
  background-color: #ff4100;
  background-image: linear-gradient(to right, #f6d365 0%,  #ff4100 100%);
  border-radius: 50px;
  border-width: 0;
  color: white;
  font-size: 1.5em;
  height: 50px;
  margin: 0 15px;
  width: 200px;
}

button.custom-button:hover {
  color: white;
  font-weight: bold;
  width: 210px;
}

input[type='file'] {
  display: none;
}

#takePictureField {
  border: 1px solid #ff4100;
  border-radius: 25px;
  display: inline-block;
  font-size: 1.5em;
  padding: 8px 25px;
  cursor: pointer;
}

input[type='radio'] {
  box-sizing: border-box;
  appearance: none;
  background: white;
  outline: 2px solid #ff4100;
  border: 3px solid white;
  width: 16px;
  height: 16px;
}

input[type='radio']:checked {
  background: #ff4100;
}

/* === HEADER and FOOTER ===
*/

.headerFooter {
  height: 60px;
  background-color: #ff4100;
  h1 {
    line-height: 60px;
    margin: 0;
    color: #ffffff;
  }
}

/*
* === SECTIONS ===
*/
body {
  background-color: white;
  color: #ff4100;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.mainContainer {
  margin: 0 auto;
}

/*
* === LANDING PAGE ===
*/

#tagline {
  letter-spacing: 0.2em;
  font-size: 3em;
  margin-bottom: 40px;
}
.imageGallery {
  height: 75%;
  width: 100%;
  position: relative;
  margin: 15px 0;

  img {
    height: 100%;
    width: 30%;
    margin: 0 15px;

    @media screen and (max-width: 768px) {
      width: 80%;
      margin: 15px 0;
    }
  }
}

/*
* === STEP PAGE: OVERALL ===
*/
.step-progress {
  background-color: white;
  height: 100px;
}

.directions {
  width: 90%;
  margin: auto;
  position: relative
}

/*
* === STEP PAGE: ONE ===
*/
.uploadImageBox {
  color: grey;
  display: block;
  height: 200px;
  width: 50%;
  margin: 20px auto;
  border: 2px solid;

  img {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
  }

  @media screen and (max-width: 768px) {
    width: 80%;
  }
}

#wholeImg {
  width: 100%;
}


/*
* === STEP PAGE: TWO ===
*/
#meterImg {
  width: 30%;
  height: 30%;
}

.meterTextInfo {
  width: 30%;
  margin: auto;
}

// review meter
#reviewMeterInfo {
  .meterConfirm {
    display: block;
    padding: 15px;
    border: 2px solid green;
    margin: 20px 0;
    border-radius: 5px;
  }
}

// hide +1/-1 toggle from meter input
input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*
* === STEP PAGE: THREE ===
*/
.roofTypeImages {
  width: 100%;

  .roof {
    display: inline-block;
    margin: 0 15px;

    img {
      width: 200px;
    }
  }
}


/*
* === STEP PAGE: REVIEW ===
*/
.leftPanel{
  margin-right: 50px;
  display: inline-block;

}

.rightPanel {
  display: inline-block;
}

#reviewRoofType {
  img {
    margin: 0 15px;
  }
}




/*
* === STEP PAGE: CONFIRMATION ===
*/
#completeImg {
  margin: 20vh auto 0 auto;
  width: 250px;
  height: 250px;
  img {
    width: 100%;
    height: 100%;
  }
}



// hide +1/-1 toggle from meter input
input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
