/*
* === OVERAL ===
*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");
h1 {
  color: #ff4100; }

a:hover {
  text-decoration: none; }

button.custom-button {
  background-color: #ff4100;
  background-image: linear-gradient(to right, #f6d365 0%, #ff4100 100%);
  border-radius: 50px;
  border-width: 0;
  color: white;
  font-size: 1.5em;
  height: 50px;
  margin: 0 15px;
  width: 200px; }

button.custom-button:hover {
  color: white;
  font-weight: bold;
  width: 210px; }

input[type='file'] {
  display: none; }

#takePictureField {
  border: 1px solid #ff4100;
  border-radius: 25px;
  display: inline-block;
  font-size: 1.5em;
  padding: 8px 25px;
  cursor: pointer; }

input[type='radio'] {
  box-sizing: border-box;
  appearance: none;
  background: white;
  outline: 2px solid #ff4100;
  border: 3px solid white;
  width: 2em;
  height: 2em; }

input[type='radio']:checked {
  background: #ff4100; }

/* === HEADER and FOOTER ===
*/
.headerFooter {
  height: 65px;
  background-color: #ffffff; }
  .headerFooter h1 {
    margin: 0px 0 -15px 0;
    display: inline-block;
    line-height: 80px;
    color: #ff4100;
    font-size: 1.5em; }
  .headerFooter img {
    margin: 0; }

/*
* === SECTIONS ===
*/
body {
  background-color: white;
  color: #ff4100;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center; }

.mainContainer {
  margin: 0 auto;
  color: #aeaeae; }

/*
* === LANDING PAGE ===
*/
#tagline {
  font-size: 3em;
  margin-bottom: 40px; }

.imageGallery {
  height: 75%;
  width: 100%;
  position: relative;
  margin: 15px 0; }
  .imageGallery img {
    height: 100%;
    width: 25%;
    margin: 0 15px; }
    @media screen and (max-width: 768px) {
      .imageGallery img {
        width: 80%;
        margin: 15px 0; } }

/*
* === STEP PAGE: OVERALL ===
*/
.step-progress {
  color: #ff4100;
  background-color: white; }
  .step-progress img {
    height: 50px;
    margin: 50px 0; }

.directions {
  width: 90%;
  margin: auto;
  position: relative; }

/*
* === STEP PAGE: ONE ===
*/
#navImg {
  width: 50%;
  height: 50%; }

.uploadImageBox {
  color: grey;
  display: block;
  height: 200px;
  width: 50%;
  margin: 20px auto;
  border: 2px solid; }
  .uploadImageBox img {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5; }
  @media screen and (max-width: 768px) {
    .uploadImageBox {
      width: 80%; }
      .uploadImageBox #navImg {
        width: 80%;
        height: 80%; } }

#wholeImg {
  width: 100%; }

.btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block; }

.btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0; }

/*
* === STEP PAGE: TWO ===
*/
#meterImg {
  width: 30%;
  height: 30%; }

.meterTextInfo {
  width: 30%;
  margin: auto; }

#reviewMeterInfo .meterConfirm {
  display: block;
  padding: 15px;
  border: 2px solid green;
  margin: 20px 0;
  border-radius: 5px; }

input[type='number'] {
  -moz-appearance: textfield; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

/*
* === STEP PAGE: THREE ===
*/
.roofTypeImages {
  width: 100%; }
  .roofTypeImages .roof {
    display: inline-block;
    margin: 0 15px 50px 15px; }
    .roofTypeImages .roof img {
      width: 200px; }

/*
* === STEP PAGE: REVIEW ===
*/
.leftPanel {
  margin-right: 50px;
  display: inline-block; }

.rightPanel {
  display: inline-block; }

#reviewRoofType img {
  width: 100px;
  height: 100px;
  margin: 0 15px; }

/*
* === STEP PAGE: CONFIRMATION ===
*/
#completeImg {
  margin: 100px  auto;
  width: 200px;
  height: 200px; }
  #completeImg img {
    width: 100%;
    height: 100%; }

.topDownImg {
  margin: 100px  auto;
  width: 400px;
  height: 400px; }
  .topDownImg img {
    width: 100%;
    height: 100%; }

input[type='number'] {
  -moz-appearance: textfield; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }
