/*
* === OVERALL ===
*/

h1 {
  color: #ff4100;
  margin-bottom: 0;
}

h2, h4 {
  margin: 0;
}

hr {
  border: none;
  height: 4px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

a:hover {
  text-decoration: none;
}

button.custom-button {
  background-color: #ff4100;
  background-image: linear-gradient(to right, #f6d365 0%,  #ff4100 100%);
  border-radius: 50px;
  border-width: 0;
  color: white;
  font-size: 1.5em;
  height: 50px;
  margin: 0 15px;
  width: 200px;
}

button.custom-button:hover {
  color: white;
  font-weight: bold;
  width: 210px;
}

input[type='radio'] {
  box-sizing: border-box;
  appearance: none;
  background: white;
  outline: 2px solid #ff4100;
  border: 3px solid white;
  width: 2em;
  height: 2em;
}

input[type='radio']:checked {
  background: #ff4100;
}

/* === HEADER and FOOTER ===
*/
.headerFooter {
  height: 65px;
  background-color: #ffffff;

  h1 {
    display: inline-block;
    color: #ff4100;
    font-size: 1.5em;
  }
  h1:hover {
    cursor: pointer;
  }
  img {
    margin: 0;
  }
  img:hover {
    cursor: pointer;
  }
}

/*
* === SECTIONS ===
*/
body {
  background-color: white;
  color: #ff4100;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  padding: 15px;
}

.mainContainer {
  margin: 0 auto;
  color: #aeaeae;
}


/*
* === LANDING PAGE ===
*/

#tagline {
  font-size: 3em;
  margin-bottom: 40px;
  @media screen and (max-width: 768px) {
    font-size: 2.5em;
    margin-bottom: 0;
  }
}

.imageGallery {
  height: 75%;
  width: 100%;
  position: relative;
  margin: 5% 0;

  img {
    height: 100%;
    max-width: 250px;
    width: 25%;
    margin: 0 15px;

    @media screen and (max-width: 768px) {
      margin: 15px 0;
    }
  }
}


/*
* === STEP PAGE: OVERALL ===
*/
.step-progress {
  color: #ff4100;
  background-color: white;
  img {
    margin: 20px 0;
    width: 100%;
    max-width: 600px;
  }
}

.directions {
  width: 90%;
  margin: auto;
  position: relative;

  @media screen and (max-width: 768px) {
    h1 { font-size: 1.75em; }
    h3 { font-size: 1.5em; }
  }
}


/*
* === STEP PAGE: ONE ===
*/

#navImg {
  width: 50%;
  height: 50%;
  @media screen and (max-width: 768px) {
    width: 80%;
    height: 80%;
  }
}

#wholeImg {
  width: 100%;
}

.btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-wrapper input[type=file] {
  display: none;
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.btn-wrapper #takePictureField {
  border: 1px solid #ff4100;
  border-radius: 25px;
  display: inline-block;
  font-size: 1.5em;
  padding: 8px 25px;
  cursor: pointer;
}


/*
* === STEP PAGE: TWO ===
*/
#meterImg {
  width: 30%;
  height: 30%;
}

.meterTextInfo {
  display: inline-block;
  width: 30%;
  margin: auto;

  .form-control {
    border: 0;
    border-bottom: 1px solid grey;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
    background: transparent;
  }
  label {
    color: #ff4100;
    float: left;
    font-weight: lighter;
  }
}

// hide +1/-1 toggle from meter input
input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*
* === STEP PAGE: THREE ===
*/
.roofTypeImages {
  width: 100%;

  .roof {
    display: inline-block;
    margin: 0 15px 50px 15px;

    img {
      width: 200px;
    }
  }
}


/*
* === STEP PAGE: REVIEW ===
*/

#panelContainer {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.leftPanel, .rightPanel {
  margin: 10px;
  text-align: left;

  .box {
    box-shadow: 3px 3px 3px 3px #CCC;
    border-radius: 15px;
    padding: 10px;
  }
  .caption {
    clear: both;
    display: block;
  }
}

.rightPanel {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;

  #reviewMeterInfo {
    flex: 1;
    flex-grow: 1;
    width: 100%;
  }
  #reviewMeterInfo .meterConfirm {
    color: #282828;
    font-size: 1.25em;
  }
  #shadowAsses {
    align-self: flex-start;
    display: flex;
    flex: 1 auto;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  #shadowAsses .caption {
    width: 100%;
  }
  #shadowAsses img {
    width: 100px;
    height: 100px;
  }
}

.footerPanel {
  flex: 1 100%;
  padding: 20px;
}

/*
* === STEP PAGE: CONFIRMATION ===
*/
#completeImg {
  margin: 10%  auto;
  width: 200px;
  height: 200px;
  img {
    width: 100%;
    height: 100%;
  }
}

.topDownImg {
  margin: 25px auto;
  max-width: 400px;
  max-height: 400px;
  img {
    width: 100%;
    height: 100%;
  }
}